<nav role="navigation">
    <div class="menu">
        {% for item in items %}
            {% for nodeMenuItem in item %}
                {% set page = nodeMenuItem.getPage() %}
                {% if page|default %}
                    <div class='tile-link-pp flip-container'>
                        <div class='tile-link-pp-content flipper {% if nodemenu.current == nodeMenuItem %}active{% endif %}'>
                            <a href="{{ path('_slug', { 'url': nodeMenuItem.slug }) }}">
                                <div class="front" style="background-color:{{ page.backgroundColor }};">
                                        <span>
                                            {{ nodeMenuItem.title }}
                                        </span>
                                </div>
                                <div class="back" style="background-color:{{ page.backgroundColor }};">
                                        <span>
                                            {{ page.pageIntro|default }}
                                        </span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</nav>
